<template id="hw2site-footer">
    <section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-0" style="background-color: rgb(46, 46, 46); padding-top: 30px; padding-bottom: 30px;">

        <div class="container">
            <div class="row">
                <div class="mbr-footer-content col-xs-12 col-md-3">
                    <div><a href="site/it/home.html#header1-1"><img src="../../src/assets/images/logo-finale2-128x104-38.png"></a></div>
                </div>
                <div class="mbr-footer-content col-xs-12 col-md-3">
                    <p><strong>Info</strong><br>
                        <a href="site/en/terms.html">Terms and Conditions</a><br></p>
                </div>
                <div class="mbr-footer-content col-xs-12 col-md-3">
                    <p><strong>Contacts</strong><br>Responsabile: Giuseppe Ronca<br>Email: support@hyperweb2.com<br></p>
                </div>
                <div class="mbr-footer-content col-xs-12 col-md-3">
                    <p></p>
                </div>

            </div>
        </div>
    </section>

    <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

        <div class="container">
            <p class="text-xs-center">Copyright (c) 2016 HyperWeb2.&nbsp;</p>
        </div>
    </footer>

    <input name="animation" type="hidden">
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
</template>
<script>
    registerComponent("hw2site-footer");
</script>

<script src="../../src/assets/smooth-scroll/SmoothScroll.js"></script>
<script src="../../src/assets/viewportChecker/jquery.viewportchecker.js"></script>
<script src="../../src/assets/dropdown/js/script.min.js"></script>
<script src="../../src/assets/touchSwipe/jquery.touchSwipe.min.js"></script>
<script src="../../src/assets/jquery-mb-ytplayer/jquery.mb.YTPlayer.min.js"></script>
<script src="../../src/assets/jarallax/jarallax.js"></script>
<script src="../../src/assets/social-likes/social-likes.js"></script> 